{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Categories</title>
<link rel="stylesheet" href="{% static 'css/categoru.css' %}">
<link rel="icon" href="{% static 'img/favicon.svg' %}">
</head>
<body>
<div class="categories-container">
  <h2>Quiz Categories</h2>
  <ul class="categories-list">
    <li><a href="#">Mathematics</a></li>
    <li><a href="#">Science</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">Literature</a></li>
  </ul>
</div>
</body>
</html>
