{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активация аккаунта</title>
</head>
<body>

    <p>Спасибо за регистрацию на нашем сайте! Для завершения процесса регистрации, вам необходимо активировать свой аккаунт. Однако, если вы не регистрировались на нашем сайте, пожалуйста, проигнорируйте это сообщение.</p>

    <p>Если вы не регистрировались на нашем сайте, не следует переходить по ссылке или активировать аккаунт. В этом случае ваши личные данные могли быть использованы без вашего разрешения.</p>

    <p>Для активации вашего аккаунта перейдите по следующей ссылке:</p>

    <p><a href="{{ activation_link }}">Активировать аккаунт</a></p>

    <p>Если ссылка не отображается, скопируйте и вставьте следующий URL в адресную строку вашего браузера:</p>

    <p>{{ activation_link }}</p>

    <p>Спасибо за выбор нашего сервиса!</p>

    <p>С уважением,<br>Команда сайта</p>
</body>
</html>