{% extends 'main/base.html' %}  
{% load static %}



{%block css_reg%} 
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.svg' %}">

    <link rel="stylesheet" href="{% static 'css/auto.css' %}">
{%endblock%}

{% block content %}
    <div class="body">
        <div class="activation-email">
            <h2>Письмо для активации аккаунта отправлено</h2>
            <p>
                Уважаемый(ая),<br><br>
                Мы хотели бы подтвердить, что запрос на создание аккаунта был успешно получен. Для завершения процесса регистрации, пожалуйста, проверьте вашу электронную почту.<br><br>
                На указанный вами адрес было отправлено письмо с инструкциями по активации аккаунта. Пожалуйста, следуйте указанным в нем шагам, чтобы завершить регистрацию.<br><br>
                Если вы не получили письмо в течение нескольких минут, пожалуйста, проверьте папку "Спам" или "Нежелательная почта" в вашем почтовом ящике. Иногда письма могут попадать туда по ошибке.
            </p>
        </div>
    </div>
 {% endblock %}