{% extends 'main/base.html' %}  
{% load static %}
{%block css_reg%} 
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auto.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.svg' %}">

{%endblock%}
<!-- <link rel="icon" href="{% static 'img/favicon.svg' %}"> -->
{% block content %}
<div class="body">
    <div class="ramka">
        <span class="borderLine"></span>
        <form method="post">
            {% csrf_token %}
            <h2>Подтверждение сброса пароля</h2>
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="input-ramka">
                <input type="password" name="new_password1" required>
                <span>Новый пароль</span>
                <i></i>
            </div>
            <div class="input-ramka">
                <input type="password" name="new_password2" required>
                <span>Подтвердите пароль</span>
                <i></i>
            </div>
            <input type="submit" value="Сбросить пароль" class="btns">
        </form>            
    </div>
</div>
{% endblock %}
