/* Сброс */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{    /*   Универсальный селектор при добавлении отступов общая ширина элемента не увеличивается */
    box-sizing: border-box;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/* конец сброса */

/* Подключение шрифта Open Sans */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #074947;
}
.ramka{
    position: relative;
    width: 380px;
    height: 340px;
    border-radius: 8px;
    overflow: hidden;
}
.ramka::before{
    content: '';
    position: absolute;
    top:-50%;
    left:-50%;
    width: 400px;
    height: 460px;
    background: linear-gradient(39deg, transparent, transparent, #45f9ff, #45ff6d, #45f9ff);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
}
.ramka::after{
    content: '';
    position: absolute;
    top:-50%;
    left:-50%;
    width: 400px;
    height: 460px;
    background: linear-gradient(39deg, transparent, transparent,  #45f9ff, #45ff6d, #0be0e7);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%
    {transform: rotate(0deg);}
    100%
    {transform: rotate(360deg);}
}
.ramka form{
    position: absolute;
    inset: 5px;
    background-color: #06806A;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.ramka form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 20px;
}
.ramka form .input-ramka{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.ramka form .input-ramka input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #000000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border: none;
}
.ramka form .input-ramka span{
    position: absolute;
    left: 0;
    padding: 20px 0px 20px;
    pointer-events: none;
    color: #c7c3c3;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.ramka form .input-ramka input:valid ~ span,
.ramka form .input-ramka input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.ramka form .input-ramka i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.ramka form .input-ramka input:valid ~ i,
.ramka form .input-ramka input:focus ~ i{
    height: 44px;
}
.ramka form  .links{
    display: flex;
    justify-content:space-between;
}
.ramka form  .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #ffffff;
    text-decoration: none;
}
.ramka form  .links a:hover,.ramka form  .links a:nth-child(2){
    color: #fff;
}


.btns {
    position: relative;
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 4px;
    width: 60%;
    margin: 10px auto;
    text-align: center;
    color: #23242a;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
    background-color: #06806A;
    color: #fff;
    border: 1px solid #fff;
}

.btns:hover{
    background-color: #36b8a0;
    color: #fff;
    border: 1px solid #fff;
}



.links{
    padding-top: 20px;
}
.links a:hover{
    text-decoration: underline;
    color: #fff;
}
nav{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
nav,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* input:auto-fill{
    background-color: #c7c3c3;
} */